/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */
tr:hover {
    background-color: rgba(247, 245, 242, 0.151);
    cursor: pointer;
    /* font-weight: 900; */

}
:-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 200px;
} 
body{
    height:200%;
    background-color: rgb(30, 30, 30);
    /* background: linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(121, 145, 150) 100%); */
    /* background: rgb(37, 38, 49);
    background: radial-gradient(circle, rgb(214, 216, 227) 0%, rgb(7, 10, 15) 100%); */
}

form {
    /* background-color:rgb(152, 172, 173); */
    background: rgba(154, 155, 157, 0.205);
    padding: 10px;
    width: 400px;
    /* font-weight:bold; */
    color:white;
    margin:30px;
    border-radius:5px;
    /* box-shadow: 4px 4px rgba(0, 0, 0, 0.106); */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }


input {
    width:90%;
    padding: 15px;
    margin:5px;
    box-sizing: border-box;
    padding-left:10px;
    margin: auto;
    display: block;
    
   }

.titulo{
    color: rgb(255, 255, 255);
    text-align: center;
}

button{
    background: rgb(108, 108, 108);
    color:#ffffff;
    border-radius:5px;
    cursor: pointer;
    border: none;
    text-decoration: none; 
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px 10px;
}


button:hover{
    background:#809caa;  
    color:#fff;

    }

table th {
    /* font-size: 1.1em; */
    text-align: center;
    /* font-weight: bold; */
    color: #FFFFFF;
   
    caption-side: top;
    /* background: rgb(136, 154, 154); */
    background: rgba(154, 155, 157, 0.205);
    border: 100px;
    padding: 4px;
    width: 25%;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;}

table td{
    color: #fff;
    text-align: center;
    border-right: 0px ;
    border-bottom: 1px solid rgb(255, 255, 255);
}


.banner{
    color:rgb(240, 240, 240);
    width: 100%;
    height: 50px;
    font-size: 50px;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
    
}
/* .content-table{
    border-spacing: 3px;
} */
/* header{
    background-color: rgba(255, 253, 253, 0.118);
    background-size: contain;
    width: 101%;
    height: 100%;
    
}  */


.btn  {
    display:inline;
    border:0;
    padding:0;
    margin:0;
    text-decoration:underline;
    background:none;
    color:#809caa;
    font-family: arial, sans-serif;
    font-size: 1em;
    line-height:1em;
  }
  
.btn:hover {
    text-decoration:none;
    color:#2941c9;
    cursor:pointer;
  }

.nav_bar_container:hover{
    width: 200px;
  } 

a{
    text-decoration: none; 
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px 10px;
}

ul{
    padding: 20px;
}

li{
    list-style: none; 
    display: inline;
}

li a{
    /* background: rgb(72, 81, 83);  */
    background: rgb(108, 108, 108);
    color:#ffffff;
    border-radius:5px;
}

li a:hover{
    background:#809caa;  
    color:#fff;

    }

.fa{
    margin-right: 20px;
}

.PAGINA {
    padding: 10px;
    border: none;
    border-radius: 1px;
    /* padding-left:175px ; */
    display:block;
    
}

.PAGINA:hover {
    padding-bottom: 4px;
    padding-top: 4px;
    text-decoration:none;
    /* color:#8dcbfa;
    background-color: #35393cb4; */
    color:#b9efee;
    background-color: #dee1e348;
    cursor:pointer;
    border-radius: 6px;
    border: 100px;
    
  }

 
.Error{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: center;
    color:#ffffff;
    background-color: red;
    font-size: 65px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: sans-serif;
    transform: translate(0%, 175%);
}
  .Error span{
    display: inline-block;
    padding-left: 100%;
    animation: Error 10s linear infinite
  }
  
  @keyframes Error {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-110%, 0);
    }
  }