{% extends './layout.html' %}

{% block title %}

<center><h1 class="banner">Psswords</h1> </center>

{% endblock %}

{% block body %}
<!doctype html>
<html>
   <body>
      <div class="nav">
         <ul>
     
             <li ><a href="http://127.0.0.1:8000" >Home</a>
             </li>
         </ul>
         </div>

      <table >
         <thead>
            </th>
                    <th>Page</th>
                    <th>User</th>
                    <th>Passwords</th>
                    <th>Date</th>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["pag"]}}</td>
               <td>{{row["usu"]}}</td>
               <td> {{ row["password"]}}</td>
               <td>{{row['fecha']}}</td>	
            </tr>
         {% endfor %}
      </table>


      <form action="#" method="POST">
         <h2 class="titulo">Page search</h2>
         <br class="in_put">
         <input type="text" name="pag" id="pag" placeholder="Page" maxlength="50"/></br>
 
         <input type="submit" value="Search" /><br>
     </form>
 
     
 
   </body>
</html>

{% endblock %}